@model TuTiendaSDE.Models.Tienda

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Estas seguro que queres borrar el esta tienda?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioHasta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
    }
</div>
